<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="flex.css">
    <title>Practice Flex</title>
</head>
<body>
    <div class="container">
        <div class="flex1">
           HTML
        </div>
        <div class="flex2">
            CSS
        </div>
        <div class="flex3">
          JavaScript
        </div>
		<div class="flex4">
			Java
		</div>
    </div>
</body>
</html>